# Core
streamlit
asdas
# Torch + Embeddings
torch==2.3.0
sentence-transformers==2.6.1
transformers
tokenizers

# LangChain Ecosystem
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

# Vector Store
faiss-cpu>=1.7.4,<2.0.0

# PDF Parsing
pypdf

# Environment Management
python-dotenv

# Scientific Stack
numpy
scipy

# Hugging Face
huggingface-hub
